*{
    transition: width 0.2s, height 0.2s, transform 0.2s;
    margin: 0;
}

body{
    background-color: black;
    font-family: "Funnel Display", sans-serif;
<<<<<<< HEAD
    min-width: 860px;
    padding-bottom: 100px;
}

/* Applying Changes to the Title and Header Section */

=======
}

>>>>>>> 1d4e8d248d191884c307f262593fb03a56fd9ea1
header{
    color: white;
}

button:hover{
    filter: brightness(75%);
}

.header_part1 {
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.header_part2 {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    height: 800px;
}

.header_part2 > h1, .header_part2 > h2, .header_part2 > div {
    margin-bottom: 20px;
    text-align: center;
    width: 700px;
}
.header_part2 > h1{
    font-size: 4rem;
    font-weight: 1000;
    
}

<<<<<<< HEAD
.header_input{
    margin: 0;
    height: 50px;
    width: 250px;
}

select.language {
    background-color: transparent;
    color: white;
    border: 1px solid grey;
    width: 50%;
=======
.second_input{
    margin: 0;
    height: 70px;
    width: 250px;
}

.second_input > input {
    background-color: black;
    color: white;
    border: 1px solid grey;
    width: 70%;
>>>>>>> 1d4e8d248d191884c307f262593fb03a56fd9ea1
    height: 100%;
    font-size: 20px;
}

<<<<<<< HEAD
.header_input > button {
=======
.second_input > button {
>>>>>>> 1d4e8d248d191884c307f262593fb03a56fd9ea1
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
<<<<<<< HEAD
    width: 45%;
    height: 80%;
    font-size: 20px;
    font-weight: bold;
}

.second_input{
    margin: 0;
    height: 70px;
    width: 100%;
}

.second_input > input {
    background-color: black;
    color: white;
    border: 1px solid grey;
    width: 65%;
=======
    width: 25%;
    height: 100%;
    font-size: 20px;
}

.header_input{
    margin: 0;
    height: 50px;
    width: 250px;
}

.header_input > select {
    background-color: black;
    color: white;
    border: 1px solid grey;
    width: 50%;
>>>>>>> 1d4e8d248d191884c307f262593fb03a56fd9ea1
    height: 100%;
    font-size: 20px;
}

<<<<<<< HEAD
.second_input > button {
=======
.header_input > button {
>>>>>>> 1d4e8d248d191884c307f262593fb03a56fd9ea1
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
<<<<<<< HEAD
    width: 30%;
    height: 100%;
    font-size: 25px;
    font-weight: bold;
}

/* End of Changes to the Title and Header Section */

/* Applying Style to the Divider between Header and Main Body */

.colorfulDivider{
    
    border: 7px solid transparent; 
    background: linear-gradient(to bottom, rgb(10, 8, 112), rgb(0,0,0)) padding-box,
    linear-gradient(to bottom, red, black, black 90%) border-box; 
    border-top-left-radius: 90%; 
    border-top-right-radius: 90%; 
    height: 100px;
}

/* End of Style to the Divider between Header and Main Body */

/* Beginning of Style to the Main Body */

main , section{
=======
    width: 45%;
    height: 80%;
    font-size: 20px;
}

.main{
>>>>>>> 1d4e8d248d191884c307f262593fb03a56fd9ea1

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

<<<<<<< HEAD
main > div , section > div{
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 75px;
    color: white;
}

/* Apply Style Change to Learn More Tab */

main > div:nth-child(1) {
=======
.main > div {
    margin: 25px;
    color: white;
}

.main > div:nth-child(1) {
>>>>>>> 1d4e8d248d191884c307f262593fb03a56fd9ea1

    display: flex;
    align-items: center;
    justify-content: center;

}
<<<<<<< HEAD
main > div:nth-child(1):hover {
    transform: scale(1.05,1.05);
}

.mini_tag_container{
    background-image: linear-gradient(to right, rgb(41, 5, 60), rgb(7, 6, 68));
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mini_tag_container:hover{
    filter: brightness(150%);
}

.mini_tag_container > div{
    color:white;
}

#learnMore{
    height: 50px;
    width: 140px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(83, 82, 82);
    margin-right: 50px;
    border: none;
    border-radius: 10px;
}
#learnMore:hover{
    background-color: rgb(69, 69, 69);
}

/* End of Style Change to Learn More Tab */

/* Apply Style Change to Trending Now Section */

main > div:nth-child(2){
=======
.main > div:nth-child(1):hover {

    transform: scale(1.01,1.01);
}

.main > div:nth-child(2){
>>>>>>> 1d4e8d248d191884c307f262593fb03a56fd9ea1

    align-items: flex-end;
}

#horizontal_scroll_movie{

    overflow: scroll;
    white-space: nowrap;
}

#horizontal_scroll_movie > img{
<<<<<<< HEAD
    width: 225px;
    height: 295px;
=======
    width: 275px;
    height: 361px;
>>>>>>> 1d4e8d248d191884c307f262593fb03a56fd9ea1
    border-radius: 10px;
    margin: 10px;
}

#horizontal_scroll_movie > img:hover{
    transform: scale(1.05,1.05);
}

<<<<<<< HEAD
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* End of Style Change to Trending Now Section */

/* Apply Style Change to More Reasons to Join Section */

main > div:nth-child(3){
=======
.main > div:nth-child(3){
>>>>>>> 1d4e8d248d191884c307f262593fb03a56fd9ea1

    align-items: flex-end;
    
}

<<<<<<< HEAD
main > div:nth-child(3) > div{
=======
.main > div:nth-child(3) > div{
>>>>>>> 1d4e8d248d191884c307f262593fb03a56fd9ea1

    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 10px;
}

<<<<<<< HEAD
main > div:nth-child(3) > div > div {
=======
.main > div:nth-child(3) > div > div {
>>>>>>> 1d4e8d248d191884c307f262593fb03a56fd9ea1
    background-image: linear-gradient(to bottom right, rgb(11, 11, 62), rgb(42, 4, 40));
    color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
<<<<<<< HEAD
    height: 350px
}
main > div:nth-child(3) > div > div > div{
=======
}
.main > div:nth-child(3) > div > div > div{
>>>>>>> 1d4e8d248d191884c307f262593fb03a56fd9ea1
    height: 70%;
    margin: 0;
}

<<<<<<< HEAD
main > div:nth-child(3) > div > div > div > p{
    color:rgb(209, 206, 206);
    font-size: large;
    margin-top: 20px;
    margin-bottom: 20px;
}

main > div:nth-child(3) > div > div > img{
=======
.main > div:nth-child(3) > div > div > div > p{
    color:rgb(209, 206, 206);
    font-size: large;
}

.main > div:nth-child(3) > div > div > img{
>>>>>>> 1d4e8d248d191884c307f262593fb03a56fd9ea1

    align-self: flex-end;
    margin: 0;
    width: 75px;
    height: 75px;
}

<<<<<<< HEAD
/* End of Style Change to Reasons to Join Section */

/* Apply Style Change to Question and Answer Section */

main > div:nth-child(4){
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    row-gap: 5px;
}

main > div:nth-child(4) > div {
=======
.main > div:nth-child(4){
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    row-gap: 10px;
}

.main > div:nth-child(4) > div {
>>>>>>> 1d4e8d248d191884c307f262593fb03a56fd9ea1
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

<<<<<<< HEAD
main > div:nth-child(4) > div:nth-child(even):hover {
    filter: brightness(125%);
}

main > div:nth-child(4) > div > div {
=======
.main > div:nth-child(4) > div:hover {
    filter: brightness(125%);
}

.main > div:nth-child(4) > div > div {
>>>>>>> 1d4e8d248d191884c307f262593fb03a56fd9ea1
    padding: 20px;
    font-size: xx-large;
}

<<<<<<< HEAD
/* End of Style Change to Question and Answer Section */

/* End of Style to the Main Body */

/*Beginning of Style for the Section Body*/

section > div{
    padding-bottom: 20px;
    color: rgb(211, 210, 210);
}

section > div:nth-child(1) {
    
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    height: 300px;

}

section > div:nth-child(2) {
    
    color: rgb(211, 210, 210);
    font-size: 20px;

}

section > div:nth-child(2) > div {
    
    padding-bottom: 40px;

}

section > div:nth-child(3) {
    
    width: 300px;

}

/*Beginning of Style for all the links*/

#links{
    display: grid;
    grid-template-columns: repeat(4, minmax(0,1fr));
    row-gap: 20px;

}

a {
    color: rgb(211, 210, 210);
}

/*End of Style for all the links*/

/*End of Style for the Section Body*/

@media (max-width: 1500px){

    main > div , section > div{
        margin-left: 150px;
        margin-right: 150px;
    }

    main > div:nth-child(3) > div{
=======
.mini_tag_container{
    background-image: linear-gradient(to right, rgb(41, 5, 60), rgb(7, 6, 68));
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mini_tag_container:hover{
    filter: brightness(125%);
}
.mini_tag_container > div{
    color:white;
}

#learnMore{
    height: 50px;
    width: 140px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(83, 82, 82);
    margin-right: 50px;
    border: none;
    border-radius: 10px;
}
#learnMore:hover{
    background-color: rgb(69, 69, 69);
}







@media (max-width: 1600px){

    .main > div:nth-child(3) > div{
>>>>>>> 1d4e8d248d191884c307f262593fb03a56fd9ea1
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 10px;
        row-gap: 10px;
    }

<<<<<<< HEAD
    main > div:nth-child(3) > div > div {
        height: 200px;
    }

=======
>>>>>>> 1d4e8d248d191884c307f262593fb03a56fd9ea1

    #horizontal_scroll_movie > img{
        width: 200px;
        height: 263px;
        border-radius: 10px;
        margin: 10px;
    }

<<<<<<< HEAD
    #links{
        grid-template-columns: repeat(3, minmax(0,1fr));
    
    }

}

@media (max-width: 1120px){

    .header_part2 > h1, .header_part2 > h2, .header_part2 > div {
        margin-bottom: 20px;
        text-align: center;
        width: 600px;
    }
    .header_part2 > h1{
        font-size: 3rem;
        font-weight: 1000;
        
    }

    .second_input{
        display: block;
        
    }

    main > div , section > div{
        margin-left: 100px;
        margin-right: 100px;
    }

    main > div:nth-child(3) > div{
=======
}

@media (max-width: 1120px){
    .main > div:nth-child(3) > div{
>>>>>>> 1d4e8d248d191884c307f262593fb03a56fd9ea1
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: minmax(0, 1fr);
        row-gap: 10px;
    }

<<<<<<< HEAD
    main > div:nth-child(4) > div > div {
        font-size: x-large;
    }

=======
>>>>>>> 1d4e8d248d191884c307f262593fb03a56fd9ea1
    #horizontal_scroll_movie > img{
        width: 150px;
        height: 197px;
        border-radius: 10px;
        margin: 5px;
    }
<<<<<<< HEAD

    #links{
        grid-template-columns: repeat(2, minmax(0,1fr));
    
    }

}

@media (max-width: 860px){

    #links{
        grid-template-columns: repeat(1, minmax(0,1fr));
    
    }

}
=======
    .main > div:nth-child(4) > div > div {
        font-size: x-large;
    }
}
>>>>>>> 1d4e8d248d191884c307f262593fb03a56fd9ea1
